@import 'themes/colors';

.grid-wrapper {
  display: grid;
  grid-template-rows: 55px 100vh 100vh;
  // The "." is an autofill row--anything not explicitly defined here will be
  // placed into that position
  grid-template-areas: 'navbar' 'jumbotron' 'gallery' 'cookies' 'contact'
    'footer';
}

.grid-wrapper > section {
  /* Not applied for some reason; all: initial is overriding */
  padding: 5rem 0;
}

// Section headers
.section-headers {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 2rem;
  color: $c-brown;
  text-align: center;
  display: block;
}

.grid-wrapper > section.gallery {
  grid-area: gallery;
}

.grid-wrapper > section.cookies {
  grid-area: cookies;
}

.grid-wrapper > section.contact {
  grid-area: contact;
}
