@import 'themes/colors';

.grid-wrapper {
  display: grid;
  grid-template-rows: 800px;
  // The "." is an autofill row--anything not explicitly defined here will be
  // placed into that position
  grid-template-areas:'jumbotron' 'gallery' 'cookies' 'contact'
    'footer';
}

.grid-wrapper > section {
  /* Not applied for some reason; all: initial is overriding */
  padding: 5rem 0;
}

// Section headers
.grid-wrapper > section > h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: $c-brown;
  text-align: center;
  display: block;
  margin: 80px 0 10px 0;
}

.grid-wrapper > section.gallery {
  grid-area: gallery;
}

.grid-wrapper > section.cookies {
  grid-area: cookies;
}

.grid-wrapper > section.contact {
  grid-area: contact;
}
