@import 'themes/colors';

.grid-wrapper {
  display: grid;
  grid-template-rows: 55px 100vh 100vh;
}

.navbar {
  grid-row-start: 1;
  grid-row-end: 2;
}

header {
  grid-row-start: 2;
  grid-row-end: 3;
}

section.gallery {
  grid-row-start: 3;
  grid-row-end: 4;
}

section.cookies {
  grid-row-start: 4;
  grid-row-end: 5;
}

footer {
  grid-row-start: 5;
  grid-row-end: 6;
}

.grid-wrapper > section > h2 {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 2rem;
  color: $c-brown;
  text-align: center;
}

.navbar {
  background-color: $c-lightgreen;
  color: white;
  text-align: right;
  padding: 10px;

  > a {
    margin: 10px;
    color: white;
    text-decoration: none;

    a:visited,
    a:active {
      color: white;
      text-decoration: none;
    }
  }
}

.App-logo {
  height: 80px;
}

header {
  width: 100%;
  padding: 25px;
  background-color: $c-offwhite;
  color: $c-brown;
  display: block;
  text-align: center;
}

.App-title {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 1.5rem;
  color: $c-brown;
  display: block;
  text-align: center;
}

.App-intro {
  font-size: 1rem;
}
