@import 'themes/colors';

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  margin-top: 25px;
  height: 350px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-order {
  font-family: Enriqueta;
  font-size: 2vw;
  color: $c-brown;
  margin: 10px;
}

.contact-blurb {
  font-family: Enriqueta;
  font-size: 1.5vw;
  color: $c-brown;
  margin: 15px;
  width: 65%;
  text-align: center;
  line-height: 2;
}
