@import 'themes/colors';

.cookies {
  background-color: $c-offwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cookies > h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: $c-brown;
  text-align: center;
  display: block;
  margin: 80px 0 10px 0;
}

.cookie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-top: 20px;

}

.cookie-list > .cookie-item {
  width: 300px;
  min-width: 300px;
  background-color: $c-lightbrown;
  margin-right: 40px;
  margin-bottom: 40px;
  transition: 0.5s all;
  border-radius: 10px;

  &:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
}

.cookie-list > .cookie-item > .cookie-image {
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.cookie-list > .cookie-item > .cookie-image img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 25px;
}

.cookie-list > .cookie-item > .cookie-content {
  display: block;
  padding: 1.5rem 1.2rem;
  cursor: pointer;
}

.cookie-list > .cookie-item > .cookie-content h2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: center;
  display: block;
  cursor: pointer;
}

.cookie-list > .cookie-item > .cookie-content p {
  font-family: 'Lato', serif;
}

// Trying BEM style
.cookie-modal {
  display: flex;
  flex-flow: row nowrap;
  opacity: 1;
  transition: 0.7s all;
}

.cookie-modal > * {
  margin-left: 20px;
  margin-right: 20px;
}

.cookie-modal .cookie-modal--image {
  min-width: 200px;
  max-width: 35%;
  overflow: hidden;
}

.cookie-modal .cookie-modal--image img {
  width: 100%;
}

.cookie-modal .cookie-modal--content {
  font-family: 'Enriqueta', serif;
}

.cookie-modal .cookie-modal--content h1 {
  font-size: 4.0rem;
}
