@import 'themes/colors';

.cookies {
  background-color: $c-offwhite;
}

.cookies > h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: $c-brown;
  text-align: center;
  display: block;
  margin: 80px 0 10px 0;
}

.cookie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cookie-list > .cookie-item {
  width: 31%;
  min-width: 300px;
  background-color: $c-lightblue;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: 0.2s all;

  &:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
}

.cookie-list > .cookie-item > .cookie-image {
  padding: 0;
  margin: 0;
  display: block;
}

.cookie-list > .cookie-item > .cookie-image img {
  width: 100%;
  max-height: 300px;
  cursor: pointer;
}

.cookie-list > .cookie-item > .cookie-content {
  display: block;
  padding: 1.5rem 1.2rem;
}

.cookie-list > .cookie-item > .cookie-content h2 {
  font-family: 'Kelly Slab', sans-serif;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  text-align: center;
  display: block;
}

.cookie-list > .cookie-item > .cookie-content p {
  font-family: 'Enriqueta', serif;
}

// Trying BEM style
.cookie-modal {
  display: flex;
  flex-flow: row nowrap;
  opacity: 1;
  transition: 0.2s all;
}

.cookie-modal > * {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.cookie-modal .cookie-modal--image {
  min-width: 200px;
  max-width: 35%;
  overflow: hidden;
}

.cookie-modal .cookie-modal--image img {
  width: 100%;
}

.cookie-modal .cookie-modal--content {
  font-family: 'Enriqueta', serif;
}

.cookie-modal .cookie-modal--content h1 {
  font-size: 4.0rem;
}
