@import 'themes/colors';

footer {
  grid-area: footer;
  height: 5.5rem;
  text-align: right;
  background-color: $c-offwhite;

  p {
    font-family: 'Enriqueta', serif;
    color: $c-brown;
    margin-right: 1.5rem;
  }
}
