@import 'themes/colors';

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $c-lightbrown;
}

div > h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: $c-brown;
  text-align: center;
  display: block;
  margin: 8rem 0 1rem 0;
}

div > h3 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  text-align: center;
  color: $c-brown;
  font-weight: bold;
  width: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 10rem;
}
