@import 'themes/colors';

.grid-wrapper > header.jumbotron {
  grid-area: jumbotron;
  min-width: 120rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $c-offwhite;
  color: $c-brown;
  text-align: center;
  position: relative;
  overflow: hidden;

  &:before {
    // Transparent background image effect
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url('./assets/images/background-cookie-circle.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
}

header.jumbotron .header-center {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 120rem;
  justify-content: center;
  align-items: center;

}

header.jumbotron .header-center .logo {
  height: 35.9rem;
  width: 27rem;
  margin-top: 7rem;
}


header.jumbotron .header-center h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 8rem;
  color: $c-brown;
  display: block;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

header.jumbotron .header-center h2 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  text-align: center;
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}
